<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--<form action="/img" method="post" enctype="multipart/form-data" th:object="${images}">-->
<!--    <fieldset>-->
        <div  th:each="img:${image}" th:object="img">
                <img th:src="@{/image/{img}(img=${img.getImage()})}" width="200px">

        </div>

<!--    </fieldset>-->
<!--</form>-->


</body>
</html>